
    
<div class="jumbotron">
  <div class="container">
   Author: Alejandro Aranda
   <br/>
            <a href="http://es.wikipedia.org/wiki/Quiz" target="_blank"> ¿Qué es un Quiz?</a> |
            <a href="https://github.com/alexwing/quizAAM7" target="_blank"> Ir al repositorio</a>
  </div>
</div>
